<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- import element-ui CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import Vue before Element -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- import element-ui JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="history.js"></script>

  <style>
    * {
      font-size: 12px;
    }
    .el-input {
      width: 100px;
    }

    #app > div {
      margin-bottom: 2px;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
    }

    .flex-ac {
      align-items: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <div>

      <el-select v-model="value" placeholder="历史开奖" size="mini">
        <el-option v-for="(item, index) in history" :key="index" :label="item" :value="item">
        </el-option>
      </el-select>

      <el-select v-model="periods" placeholder="是否重复" size="mini">
        <el-option v-for="(item, index) in history.length" :key="index" :label="item" :value="item"></el-option>
      </el-select>

      <span>期内：{{ periodsCount }} 个重复项</span>
    </div>

    <div class="flex flex-ac">
      排除：
      <el-select v-model="exclude" multiple placeholder="输入" size="mini" clearable>
        <el-option v-for="item in arr" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
      生成：
      <el-input v-model="createCount" placeholder="输入随机个数" size="mini"></el-input>
      个组合
    </div>
    <div>
      <el-button type="primary" @click="startRandom" size="mini">生成</el-button>
      <el-button type="primary" @click="handelClean" size="mini">清空</el-button>
      <el-button type="primary" @click="handlePaste" size="mini">粘贴</el-button>
    </div>

    <div>
      <el-input type="textarea" :rows="8" placeholder="请输入内容" :value="result.join(',')">
      </el-input>
    </div>

    <p>
      一共生成了 <span id="limit">{{result.length}}</span> 个组合;
    </p>

    <div class="flex flex-ac">
      <el-button type="primary" @click="handelCopy(0)" size="mini">复制所有</el-button>
      <el-button type="primary" @click="handelCopy(2)" size="mini">复制组三</el-button>
      <el-button type="primary" @click="handelCopy(3)" size="mini">复制组六</el-button>
      <el-button type="primary" @click="handelCopy(1)" size="mini">复制豹子</el-button>
      <el-button type="primary" @click="handelCopy(4)" size="mini">复制(除豹子)</el-button>
      <el-button type="primary" @click="handelCopy(5, 50)" size="mini">剔除近50期</el-button>
      <el-button type="primary" @click="handelCopy(5, 100)" size="mini">剔除近100期</el-button>
      <el-button type="primary" @click="handelCopy(5, 300)" size="mini">剔除近300期</el-button>
    </div>

    <div v-html="tip"></div>

    <div>
      <el-button type="primary" @click="handelSort(1)" size="mini">升序排序</el-button>
      <el-button type="primary" @click="handelSort(-1)" size="mini">降序排序</el-button>
      <el-input v-model="awardNumber" placeholder="输入中奖号码" size="mini"></el-input>
      <el-button type="primary" @click="handelExist" size="mini">验证是否存在</el-button>
    </div>

    <div>
      <el-input type="textarea" :rows="8" v-model="resultStr">
      </el-input>
    </div>
    <p>
      筛选后还剩<span id="limit">{{filterAfterValue}}</span> 个组合;
    </p>

    <div v-html="allCountTip"></div>
  </div>

  <script>
    // 创建vue
    new Vue({
      // 控制的标签容器
      el: '#app',
      // 交互的数据
      data: function () {
        return {
          value: '',

          arr: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
          exclude: [],
          history: window.historyCode,
          createCount: 650,
          allCombination: [],
          result: [],
          resultStr: '',
          allCountTip: '',
          awardNumber: '',
          tip: '',
          periods: 100
        }
      },
      computed: {
        filterAfterValue() {
          const value = this.resultStr.split(',');
          return value.filter(item => item).length;
        },
        periodsCount() {
          const { count } = this.handleRepeat(this.periods)
          return count;
        }
      },
      created() {
      },
      mounted() {},
      // 方法
      methods: {
        calcRandomAllCombination() {
          this.allCombination.length = 0;
          const arr_ = [...this.arr].filter(item => !this.exclude.includes(item));
          for (let i = 0; i < arr_.length; i++) {
            for (let j = 0; j < arr_.length; j++) {
              for (let k = 0; k < arr_.length; k++) {
                this.allCombination.push(`${arr_[i]}${arr_[j]}${arr_[k]}`);
              }
            }
          }
        },
        startRandom() {
          this.calcRandomAllCombination();
          this.result.length = 0;
          const result = []
          this.calcCombination(this.allCombination);
          this.allCountTip = '';
          this.handelSort();
          this.calcStartCount();
        },
        calcCombination(arr) {
          const allCombination = [...arr];
          if (this.result.length < this.createCount) {
            let randomIndex = Math.floor(Math.random() * allCombination.length);
            this.result.push(allCombination.splice(randomIndex, 1)[0]);
            this.calcCombination(allCombination);
          }
        },
        handelClean() {
          this.exclude.length = 0;
          this.allCombination.length = 0;
          this.result = [],
            this.resultStr = '',
            this.allCountTip = '',
            this.awardNumber = '',
            this.tip = ''
          this.calcRandomAllCombination();
        },
        handelExist() {
          const isExist = this.result.includes(this.awardNumber);
          this.tip = isExist ? '存在' : '不存在';
        },
        handelSort(type = 1) {
          this.resultStr = [...this.result].sort((a, b) => type ===1 ? a - b : b - a).join(',');
        },
        calcStartCount() {
          const startCount = {};
          this.allCountTip = '';
          for (let i = 0; i < this.result.length; i++) {
            const start = this.result[i][0];
            if (startCount[start]) {
              startCount[start] += 1;
            } else {
              startCount[start] = 1;
            }
          }
          Object.keys(startCount).forEach(key => {
            this.allCountTip += `${key} 开头的有 ${startCount[key]} 个 <br>`;
          });
        },
        handelCopy(type, count) {
          let tip = '';
          switch (type) {
            case 0:
              this.resultStr = [...this.result].sort((a, b) => a - b).join(',');
              tip = '复制成功';
              break;
            case 1:
            case 2:
            case 3:
              this.resultStr = this.result.filter(item => new Set(item).size === type).sort((a, b) => a - b).join(',');
              tip = type === 1 ? '显示所有豹子' : type === 2 ? '显示所有组三' : '显示所有组六';
              break;
            case 4:
              this.resultStr = this.result.filter(item => new Set(item).size !== 1).sort((a, b) => a - b).join(',');
              tip = '显示所有组三和组六';
              break;
            case 5:
              this.resultStr = this.result.filter(item => !this.history.slice(0, count).includes(item)).sort((a, b) => a - b).join(',');
              tip = `剔除近${count}期出现过的号码`;
              break;
          }
          this.tip = tip;
          navigator.clipboard.writeText(this.resultStr);
        },
        handlePaste() {
          navigator.clipboard.readText().then(text => {
            this.result = text.split(',');
          });
        },
        handleRepeat(count) {
          const last = this.history.slice(0, count);
          const lastMap = new Map();
          last.forEach(item => {
            if (lastMap.has(item)) {
              lastMap.set(item, lastMap.get(item) + 1);
            } else {
              lastMap.set(item, 1);
            }
          });
          const repeatData = Array.from(lastMap.entries());
          
          const uniqueCount = repeatData.filter(item => item[1] > 1).length;

          return {
            count: uniqueCount,         // 不同重复项的数量
            repeatData: repeatData      // 每个重复项及其出现次数
          };
        }
      }
    });
  </script>
</body>

</html>