<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- import Vue before Element -->
  <script src="./static/vue.js"></script>
  <!-- import element-ui JavaScript -->
  <link rel="stylesheet" href="./static/element-ui.css">
  <!-- 引入组件库 -->
  <script src="./static/element-ui.js"></script>
  <script src="./utils.js"></script>
  <script src="./server/history.json"></script>
  <link rel="stylesheet" href="./index.css"></link>
</head>
<body>
  <div id="app">
    <el-row>
      <el-col :span="24" class="mb4 flex flex-ac">
        <span>百：</span>
        <el-checkbox-group v-model="exclude.hundred" size="mini">
          <el-checkbox-button v-for="(i, index) in 10" :label="index" :key="index">{{i-1}}</el-checkbox-button>
        </el-checkbox-group>
      </el-col>

      <el-col :span="24" class="mb4 flex flex-ac">
        <span>十：</span>
        <el-checkbox-group v-model="exclude.ten" size="mini">
          <el-checkbox-button v-for="(i, index) in 10" :label="index" :key="index">{{i-1}}</el-checkbox-button>
        </el-checkbox-group>
      </el-col>

      <el-col :span="24" class="mb4 flex flex-ac">
        <span>个：</span>
        <el-checkbox-group v-model="exclude.one" size="mini">
          <el-checkbox-button v-for="(i, index) in 10" :label="index" :key="index">{{i-1}}</el-checkbox-button>
        </el-checkbox-group>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="6" class="mb4 flex flex-ac mr4">
        <span>注数：</span>
        <el-input v-model="count" placeholder="请输入随机数量" size="mini"></el-input>
      </el-col>
      <el-col :span="10" class="mb4 flex flex-ac">
        <el-button type="primary" @click="generate" size="mini">生成</el-button>
        <el-button type="primary" @click="handleClean" size="mini">清空</el-button>
        <el-button type="primary" @click="handlePaste" size="mini" class="mr4">粘贴</el-button>
      </el-col>
    </el-row>

    <p class="pr">
      <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="combination" @change="initCombination">
      </el-input>
      <span class="pa after-value-Length" v-if="result.length"> 生成{{ result.length }}注</span>
    </p>

    <p>{{ tip }}</p>

    <div class="mb8">
      <el-checkbox-group v-model="checkedFilter" style="display: contents;">
        <el-checkbox v-for="(i, index) in checkedConfig" :label="i.label" :key="i.label">{{ i.label }}</el-checkbox>
      </el-checkbox-group>
      <el-radio-group v-model="checkedRadio" style="display: contents;" class="ml10">
        <el-radio v-for="(i, index) in radioConfig" :label="i.label" :key="i.label">{{ i.label }}</el-radio>
      </el-radio-group>
    </div>

    <div>
      <p>排除和值（和值：注数）</p>
      <el-checkbox-group v-model="sumInclude" style="display: contents;">
        <el-checkbox v-for="(i, index) in sumList" :label="i" :key="i">{{ `${i}: (${sumCountAllMap[i].length})` }}</el-checkbox>
      </el-checkbox-group>
        <el-link type="info" @click="handleDialog('sum')" class="ml10">对应关系</el-link>
    </div>
    <div>
      <p>排除跨度（跨度：注数）</p>
      <el-checkbox-group v-model="spanInclude" style="display: contents;">
        <el-checkbox v-for="(i, index) in spanList" :label="i" :key="i">{{ `${i}: (${spanCountAllMap[i].length})` }}</el-checkbox>
      </el-checkbox-group>
        <el-link type="info" @click="handleDialog('span')" class="ml10">对应关系</el-link>
    </div>

    <div class="flex flex-ac mb8">
      <p>排除：</p>
      百: &nbsp;
      <el-select class="w80" v-model="hundred" multiple placeholder="输入" size="mini" clearable>
        <el-option v-for="item in numbers" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
      &nbsp;十: &nbsp;
      <el-select class="w80" v-model="ten" multiple placeholder="输入" size="mini" clearable>
        <el-option v-for="item in numbers" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
      &nbsp;个: &nbsp;
      <el-select class="w80" v-model="unit" multiple placeholder="输入" size="mini" clearable>
        <el-option v-for="item in numbers" :key="item" :label="item" :value="item">
        </el-option>
      </el-select>
    </div>

    <div v-if="excludeConfig.length"  class="mb4">
      <span>已排除:</span>
        {{ excludeConfigStr }}
    </div>

    <div>
      <el-button type="primary" @click="handleCopy(afterValue.codes)" size="mini">复制</el-button>
      <el-input class="w70" v-model="awardNumber" placeholder="号码" size="mini"></el-input>
      <el-button type="primary" @click="handelExist" size="mini">验证是否存在</el-button>
    </div>

    <p class="pr">
      <el-input type="textarea" :rows="3" :value="afterValue.codes" placeholder="结果" size="mini" readonly>
      </el-input>
      <span class="pa after-value-Length" v-if="afterValueLength">
        剩{{ afterValueLength }}注; {{ ( 980 / afterValueLength  ).toFixed(2) }} 倍
      </span>
    </p>
    
    <div class="flex gap8">
      <div v-html="startCountTip"></div>
      <div v-html="resultCountInfo"></div>
    </div>

    <el-divider></el-divider>

    <el-divider content-position="left">历史数据</el-divider>

    <div class="mb4">
      <el-button :type="i === pageSize ? 'primary' : 'default'" v-for="i in buttonTypes" :key="i" @click="changePageSize(i)" size="mini">{{ i }}期</el-button>
    </div>

    <div class="flex gap8">
      <div v-for="(i, index) in numbers" :key="index" class="count-item flex flex-column flex-ac flex-sb">
        <div>{{ appearCount[i] }}</div>
        <div class="count-item-data flex1 flex-column-reverse flex">
          <span class="count-item-data-span" :style="{ height: `${appearCount[i] / maxCount * 100}%` }"></span>
        </div>
        <div class="count-item-number">{{ i }}</div>
      </div>
    </div>

    <div>
      <el-checkbox-group v-model="highlightNumbers" style="display: contents;">
        <el-checkbox v-for="(i, index) in numbers" :label="i" :key="i">{{ i }}</el-checkbox>
      </el-checkbox-group>
    </div>

    <el-table :data="tableData">
      <el-table-column prop="opendate" label="日期" width="110"></el-table-column>
      <el-table-column prop="testCode" label="试机号" width="60">
        <template slot-scope="scope">
          {{ scope.row.testCode ? scope.row.testCode.split('').join(' ') : '' }}
        </template>
      </el-table-column>
      <el-table-column prop="number" label="code" width="60">
        <template slot-scope="scope">
          <span style="font-weight: bold;" :class="{ 'is-highlight': highlightNumbers.includes(+scope.row.number[0]) }">{{ scope.row.number[0] }}</span>
          <span style="font-weight: bold;" :class="{ 'is-highlight': highlightNumbers.includes(+scope.row.number[2]) }">{{ scope.row.number[2] }}</span>
          <span style="font-weight: bold;" :class="{ 'is-highlight': highlightNumbers.includes(+scope.row.number[4]) }">{{ scope.row.number[4] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="类型">
        <el-table-column prop="isGroupThree" label="组三" width="50">
          <template slot-scope="scope">
            {{ scope.row.isGroupThree ? '三' : '' }}
          </template>
        </el-table-column>
        <el-table-column prop="isGroupSix" label="组六" width="50">
          <template slot-scope="scope">
            <span :class="{
              'is-continuous-base is-continuous-style': scope.row.continuousSix
            }">
              {{ scope.row.isGroupSix ? '六' : '' }}
            </span>
            <span class="continuous-number-style">{{ scope.row.continuousSixIndex }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column prop="lastRepeat" label="300期重复" width="80">
        <template slot-scope="scope">
          {{ scope.row.lastRepeat.isRepeat ? `前${scope.row.lastRepeat.preIndex}期` : '' }}
        </template>
      </el-table-column>
      <el-table-column prop="sum" label="和值" width="60">
        <template slot-scope="scope">
          <span :class="{
            'is-continuous-base is-sum-style': scope.row.continuousSum
          }">
            {{ scope.row.sum }}
          </span>
          <span class="continuous-number-style">{{ scope.row.continuousSumIndex }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="sumOddEven" label="和值单双" width="60">
        <template slot-scope="scope">
          <span  :class="{
            'is-continuous-base is-odd-style': scope.row.continuousOdd,
            'is-continuous-base is-even-style': scope.row.continuousEven
          }">
            {{ scope.row.sumOddEven }}
          </span>
          <span class="continuous-number-style">{{ scope.row.continuousOddIndex || scope.row.continuousEvenIndex }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="span" label="跨度" width="60">
        <template slot-scope="scope">
          <span :class="{
            'is-continuous-base is-span-style': scope.row.continuousSpan
          }">
            {{ scope.row.span }}
          </span>
          <span class="continuous-number-style">{{ scope.row.continuousSpanIndex }}</span>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog
      title="对应关系"
      :visible.sync="dialogVisible"
      width="90%">
      <div v-html="dialogContent"></div>
    </el-dialog>

  </div>

  <script>
    const regex = /^(\d{3})(,\d{3})*$/;
    new Vue({
      el: '#app',
      data: function() {
        this.buttonTypes = [10, 50, 100, 200, 300];
        return {
          numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
          sumList: new Array(28).fill(0).map((i, index) => index),
          spanList: new Array(10).fill(0).map((i, index) => index),
          codes: [],
          count: 600,
          exclude: {
            // 百
            hundred: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            // 十
            ten: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            // 个
            one: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
          },
          // 随机结果
          result: [],
          // 生成的结果
          combination: '',

          history: {},
          historyList: [],

          pageNum: 0,
          pageSize: 50,

          tip: '',

          checkedFilter: ['豹子', '组三', '组六'],
          checkedRadio: '不剔除',
          sumInclude: new Array(28).fill(0).map((i, index) => index),
          spanInclude: new Array(10).fill(0).map((i, index) => index),

          hundred: [],
          ten: [],
          unit: [],

          awardNumber: '',

          sumCountAllMap: {},
          spanCountAllMap: {},

          dialogVisible: false,
          dialogContentType: 'sum',
          highlightNumbers: []
        }
      },
      watch: {
        result() {
          if (!this.result.length) {
            this.combination = '';
            return;
          }
          this.combination = this.result.map((i) => {
            return i.code;
          }).join(',');
        }
      },
      computed: {
        tableData() {
          const list = this.historyList.slice(this.pageNum * this.pageSize, (this.pageNum + 1) * this.pageSize);
          // 简化辅助函数，判断是否连续
          const isContinuous = window.isContinuous;
          const calcIndex = (index, count, key, key1, key2) => {
            const current = list[index];
            const pre = list[index - 1];
            current[key1] = count;
            if (['continuousSpan', 'continuousSum'].includes(key) && pre && current.span !== pre.span) return;
            if (pre && pre[key]) calcIndex(index-1, count + 1, key, key1, key2);
          };

          list.forEach((i, index) => {
            const { sum } = i;
            // 判断是否连续的6
            i.continuousSix = isContinuous(list,index, true, 'isGroupSix');
            // 判断是否连续的奇偶
            i.continuousOdd = isContinuous(list,index, '单', 'sumOddEven');
            // 判断是否连续的偶数
            i.continuousEven = isContinuous(list,index, '双', 'sumOddEven');
            // 判断是否连续的和值
            i.continuousSum = isContinuous(list,index, i.sum, 'sum', 2);
            // 判断是否连续跨度
            i.continuousSpan = isContinuous(list,index, i.span, 'span', 2);
          });

          // 连续
          list.forEach((i, index) => {
            if (i.continuousSix && !list[index + 1]?.continuousSix) {
              calcIndex(index, 1 , 'continuousSix', 'continuousSixIndex');
            }
            if (i.continuousOdd && !list[index + 1]?.continuousOdd) {
              calcIndex(index, 1 , 'continuousOdd', 'continuousOddIndex');
            }
            if (i.continuousEven && !list[index + 1]?.continuousEven) {
              calcIndex(index, 1 , 'continuousEven', 'continuousEvenIndex');
            }
            if (i.continuousSum && !list[index + 1]?.continuousSum) {
              calcIndex(index, 1 , 'continuousSum', 'continuousSumIndex', 'sum');
            }
            if (i.continuousSpan && (!list[index + 1]?.continuousSpan || i.span !== list[index + 1].span)) {
              calcIndex(index, 1 , 'continuousSpan', 'continuousSpanIndex', 'span');
            }
          });
          return list;
        },

        // 出现的次数
        appearCount({ numbers, tableData }) {
          const obj = {};
          numbers.forEach(i => {
            obj[i] = 0;
          });
          tableData.forEach(i => {
            const number = i?.number?.split('').filter(i => i !== '' && i.trim()).join('');
            number?.split('').forEach(j => {
              obj[j]++;
            });
          });
          return obj;
        },
        maxCount({ appearCount }) {
          return Object.values(appearCount).reduce((a, b) => a > b ? a : b, 0);
        },
        afterValue({ filterConfig, checkedFilter, checkedRadio, sumInclude, spanInclude, result }) {
          let value = [];
          checkedFilter.forEach(i => {
            const filter = filterConfig.find(j => j.label === i);
            if (filter && filter.handle) {
              value.push(...filter.handle(result));
            }
            if (filter && filter.replace) {
              value = filter.replace(value);
            }
          });
          if (checkedRadio !== '不剔除') {
            const filter = filterConfig.find(j => j.label === checkedRadio);
            if (filter && filter.replace) {
              value = filter.replace(value);
            }
          }
          // 排除和值
          if (sumInclude.length) {
            value = value.filter(item => sumInclude.includes(item.sum));
          }
          // 排除跨度
          if (spanInclude.length) {
            value = value.filter(item => spanInclude.includes(item.span));
          }
          // 排除百位开头
          if (this.hundred.length) {
            value = value.filter(item => !this.hundred.includes(+item.code[0]));
          }
          // 排除十位开头
          if (this.ten.length) {
            value = value.filter(item => !this.ten.includes(+item.code[1]));
          }
          // 排除个位开头
          if (this.unit.length) {
            value = value.filter(item => !this.unit.includes(+item.code[2]));
          }
          return {
            value,
            codes: value.map(i => i.code).sort((a, b) => a - b).join(',')
          };
        },
        afterValueLength({ afterValue }) {
          if (!afterValue.codes || !afterValue.codes.length) return 0;
          return afterValue.codes.split(',').length;
        },
        filterResult() {
          return this.result.map(i => i.code).sort((a, b) => a - b).join(',');
        },
        filterConfig({ checkedFilter, checkedRadio, historyList }) {
          return [
            {
              type: 'checkbox',
              initChecked: checkedFilter.includes('豹子'),
              label: '豹子',
              handle: (v) => v.filter(i => i.isLeopard)
            },
            {
              type: 'checkbox',
              initChecked: checkedFilter.includes('组三'),
              label: '组三',
              handle: (v) => v.filter(i => i.isGroupThree)
            },
            {
              type: 'checkbox',
              initChecked: checkedFilter.includes('组六'),
              label: '组六',
              handle: (v) => v.filter(i => i.isGroupSix)
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '不剔除',
              label: '不剔除',
              replace: (v) => v
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '剔除近50期',
              label: '剔除近50期',
              replace: (v) => v.filter(i => !historyList.slice(0, 50).map(i => i.code).includes(i.code))
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '剔除近100期',
              label: '剔除近100期',
              replace: (v) => v.filter(i => !historyList.slice(0, 100).map(i => i.code).includes(i.code))
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '剔除近150期',
              label: '剔除近150期',
              replace: (v) => v.filter(i => !historyList.slice(0, 150).map(i => i.code).includes(i.code))
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '剔除近200期',
              label: '剔除近200期',
              replace: (v) => v.filter(i => !historyList.slice(0, 200).map(i => i.code).includes(i.code))
            },
            {
              type: 'radio',
              initChecked: checkedRadio === '剔除近300期',
              label: '剔除近300期',
              replace: (v) => v.filter(i => !historyList.slice(0, 300).map(i => i.code).includes(i.code))
            }
          ]
        },
        checkedConfig({ filterConfig }) {
          return filterConfig.filter(i => i.type === 'checkbox');
        },
        radioConfig({ filterConfig }) {
          return filterConfig.filter(i => i.type === 'radio');
        },
        startCount({ afterValue, numbers }) {
          if (!afterValue.codes || !afterValue.codes.length) return {};
          const obj = {};
          numbers.forEach(i => {
            obj[i] = 0;
          });
          afterValue.codes.split(',').forEach(i => {
            if (obj[i[0]]) {
              obj[i[0]]++;
            } else {
              obj[i[0]] = 1;
            }
          })
          return obj;
        },
        startCountTip({ startCount }) {
          if (!Object.keys(startCount).length) return '';
          let tip = '';
          Object.keys(startCount).forEach(i => {
            tip += `${i}: ${startCount[i]}注; <br>`;
          })
          return tip;
        },
        resultCountInfo({ afterValue, result }) {
          const { value } = afterValue;
          if (!value.length) return '';
          let tip = '';
          // 组三数量
          const groupThree = value.filter(i => i.isGroupThree);
          // 组六数量
          const groupSix = value.filter(i => i.isGroupSix);
          return `含有组三: ${groupThree.length}注; <br> 含有组六: ${groupSix.length}注;`;
        },
        dialogContent({ dialogContentType }) {
          const c = dialogContentType === 'sum' ? this.sumCountAllMap : this.spanCountAllMap;
          let content = '';
          const keys = Object.keys(c);
          const div = document.createElement('div');
          keys.forEach(i => {
            const div1 = document.createElement('div');
            const p = document.createElement('p');
            p.style.fontWeight = 'bold';
            p.innerHTML = `${i}`;
            const div_ = document.createElement('div');
            div_.innerHTML = c[i].join(',');
            div1.appendChild(p);
            div1.appendChild(div_);
            div.appendChild(div1);
          });
          content = div.innerHTML;
          return content;
        },
        excludeConfig({ numbers, filterConfig, sumList, sumInclude, spanList, spanInclude, exclude, hundred, ten, unit }) {
          const type = ['百', '十', '个'];
          let result = [];
          const arr = [[], [], []];
          numbers.forEach(i => {
            if (!exclude.hundred.includes(i)) {
              arr[0].push(i);
            }
            if (!exclude.ten.includes(i)) {
              arr[1].push(i);
            }
            if (!exclude.one.includes(i)) {
              arr[2].push(i);
            }
          });
          arr.forEach((i, index) => {
            if (i.length) {
              result.push(`${type[index]}: ${i.join('，')}`);
            }
          });
          if (result.length) {
            result = [`<生成前>${[...result]}`];
          }
          let afterStr= '';
          const brr = [hundred, ten, unit];
          brr.forEach((i, index) => {
            let s = ''
            if (i.length && i.length < 10) {
              s = `${type[index]}: `;
              numbers.forEach(j => {
                if (i.includes(j)) {
                  s += `${j}，`;
                }
              });
            }
            afterStr += s;
          });
          if (afterStr) {
            result.push(`<生成后>${afterStr}`);
          }
          const checkbox = filterConfig.filter(i => i.type === 'checkbox');
          const radio = filterConfig.filter(i => i.type === 'radio');
          checkbox.forEach(i => {
            if (!i.initChecked) {
              result.push(i.label);
            }
          });
          radio.forEach(i => {
            if (i.initChecked && i.label !== '不剔除') {
              result.push(i.label);
            }
          });
          let sumStr = '';
          sumList.forEach((i)=> {
            if (!sumInclude.includes(i)) {
              sumStr += `${i}， `;
            }
          });
          sumStr && result.push(`和值: ${sumStr}`);
          let spanStr = '';
          spanList.forEach((i,)=> {
            if (!spanInclude.includes(i)) {
              spanStr += `${i}， `;
            }
          });
          spanStr && result.push(`跨度: ${spanStr}`);
          return result;
        },
        excludeConfigStr({ excludeConfig }) {
          let str = '';
          excludeConfig.forEach(i => {
            str += `[${i}]； `;
          });
          return str;
        }
      },
      created() {
        this.getHistory();
        this.calcSumCountAllMap();
        this.calcSpanCountAllMap();
      },
      methods: {

        initCombination(text) {
          text = text.split(',')
          this.result = window.generateData(text);
        },

        init() {
          this.combination = '';
          this.result = [];
        },

        // 和值下的注数
        calcSumCountAllMap() {
          for (let i = 0; i < 28; i++) {
            this.sumCountAllMap[i] = [];
          }
          const codes = window.generateThreeDigits();
          for (let i = 0; i < 1000; i++) {
            this.sumCountAllMap[codes[i].sum].push(codes[i].code);
          }
          return this.sumCountAllMap;
        },
        // 跨度下的注数
        calcSpanCountAllMap() {
          for (let i = 0; i < 10; i++) {
            this.spanCountAllMap[i] = [];
          }
          const codes = window.generateThreeDigits();
          for (let i = 0; i < 1000; i++) {
            this.spanCountAllMap[codes[i].span].push(codes[i].code);
          }
          return this.spanCountAllMap;
        },

        generate() {
          this.codes = window.generateThreeDigits(this.exclude);
          this.result = window.generateCombination(this.count, this.codes);
        },

        handleClean() {
          this.init();
        },

        async handlePaste() {
          // 兼容问题
          navigator.clipboard.readText().then(text => {
            this.result.length = 0;
            if (regex.test(text)) {
              text = text.split(',');
              this.result = window.generateData(text);
            } else {
              this.$message.error('请粘贴正确的内容');
            }
          });
        },

        handleCopy(v) {
          if (!v) return;
          this.setTip('复制成功');
          navigator.clipboard.writeText(v);
        },

        setTip(text) {
          this.tip = text;
        },

        changePageSize(size) {
          this.pageSize = size;
          this.pageNum = 0;
        },

        handelExist() {
          if (!this.awardNumber) {
            this.setTip('请输入号码');
            return;
          }
          const isExist = this.afterValue.codes.includes(this.awardNumber);
          this.setTip(isExist ? '存在' : '不存在');
        },

        handleDialog(type) {
          this.dialogContentType = type;
          this.dialogVisible = true;
        },

        getHistory() {
          fetch('./server/history.json')
            .then(response => response.json())
            .then(data => {
              const keys = Object.keys(data).map(i => ({ key: i, timestamp: new Date(i).getTime() })).sort((a, b) => b.timestamp - a.timestamp);

              const func = ({ number, opendate }, index) => {
                // 截取 300 条
                const value_ = keys.slice(index+1, index+300).map(i => data[i.key].number);

                // 判断是否重复
                const isRepeat = value_.includes(number);
                return {
                  isRepeat,
                  preIndex: value_.indexOf(number) !== -1 ? value_.indexOf(number) + 1 : '',
                };
              };
              this.history = data;
              this.historyList = keys.map((i, ondex) => {
                if (data[i.key].number === '? ? ?') {
                  return {
                    testCode: data[i.key]?.testCode,
                    opendate: data[i.key].opendate,
                    number: data[i.key].number,
                    code: data[i.key].number,
                    types: [],
                    isLeopard: false,
                    isGroupThree: false,
                    isGroupSix: false,
                    sum: '-',
                    sumOddEven: '-',
                    span: '-',
                    timestamp: new Date(data[i.key].opendate).getTime(),
                    lastRepeat: {
                      isRepeat: false,
                      preIndex: '',
                    }
                  }
                }
                return {
                  testCode: data[i.key]?.testCode,
                  opendate: data[i.key].opendate,
                  number: data[i.key].number,
                  ...window.formatCode(data[i.key].number, data[i.key].opendate),
                  // 上期重复
                  lastRepeat: func(data[i.key], ondex),
                  // 和值
                  sum: window.formatCode(data[i.key].number).sum,
                }
              }).sort((a, b) => b.timestamp - a.timestamp);
            })
        }
      }
    })
  </script>
</body>
</html>