* {
    font-size: 12px;
}

p {
    margin: 6px 0;
    padding: 0;
}
span {
    white-space: nowrap;
}
.w80 {
    width: 80px;
}
.w70 {
    width: 70px;
}
.w120 {
    width: 120px;
}
.mb4 {
    margin-bottom: 4px;
}
.mb8 {
    margin-bottom: 8px;
}
.mr4 {
    margin-right: 4px;
}
.ml10 {
    margin-left: 10px;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-column-reverse {
    flex-direction: column-reverse;
}
.flex-ac {
    align-items: center;
}
.flex-jc {
    justify-content: center;
}
.flex-sb {
    justify-content: space-between;
}
.flex1 {
    flex: 1;
}
.gap8 {
    gap: 8px;
}

.pr {
    position: relative;
}
.pa {
    position: absolute;
}


.cell {
    text-align: center;
}

.count-item {
    width: 30px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
}
.count-item-data {
    width: 5px;
    height: 100%;
}
.count-item-data .count-item-data-span {
    display: block;
    width: 100%;
    background-color: red;
}

.after-value-Length {
    right: 4px;
    top: -21px;
}
.is-continuous-base {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    line-height: 20px;
}

.is-continuous-style {
    background-color: #409eff;
}
.is-odd-style {
    background-color: #0067b1;
}
.is-even-style {
    background-color: #0fd1ff;
}
.is-sum-style {
    background-color: #c472fc;
}
.is-span-style {
    background-color: #8c8c8c;
}
.is-continuous-down-style {
    background-color: #0984ff;
}
.is-red-style {
    background-color: #f56c6c;
}
.is-black-style {
    background-color: #252525;
}
.is-highlight {
    font-size: 16px;
    color: #f22a0b;
}
.cell {
    position: relative;
}
.continuous-number-style {
    position: absolute;
    top: -6px;
    right: 3px;
    opacity: 0.5;
}
.code-span + .code-span {
    margin-left: 3px;
}

.code-panel {

}
.fist-label {
    width: 80px;
    white-space: nowrap;
}
.fist-label,
.code-panel-content-header {
    background-color: #e4e4e4;
}
.code-panel-content {
    width: fit-content;
    border-right: 1px solid #c6c6c6;
}
.code-panel-row {
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 24px;
    width: 24px;
}
.is-one {
    background-color: #fffad5;
}
.is-two {
    background-color: #fff0db;
}
.is-three {
    background-color: #ffe7da;
}
.is-four {
    background-color: #d9e4ff;
}
.code-panel-row.is-highlight {
    color: #3964e5;
    font-weight: bold;
}